body {
  padding: 0 20px;
}

div.wrapper {
  width: 100%;
  background: hsl(80, 37%, 97%);
}

div.blocks-editor {
  margin-right: 512px;
  height: 512px;
}

div.robot-applet {
  float: right;
  width: 512px;
}

/* Blocks' styles */
.dragging {
  cursor: -webkit-grabbing;
}

g.block path.frame {
  filter: url(#inner-shadow);
  stroke: #666;
  stroke-width: 0.8px;
}

g.statement-block path.frame {
  fill: hsl(41, 80%, 52%);
}

g.control-block path.frame {
  fill: hsl(225, 62%, 56%);
}
